<!doctype html>
<html lang="en">
<head>
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Angloslav International</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/material-kit.css" rel="stylesheet"/>

	<!-- carousel -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/js/floatingcarousel.min.js" type="text/javascript"></script>
</head>

<body>

<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
        <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	    	<a href="home.html">
	        	<div class="logo-container">
	                <div class="logo">
	                    <img src="assets/img/crest.jpg" alt="Angloslav Logo" rel="tooltip" data-placement="bottom" data-html="true">
	                </div>
	                <div class="brand">
	                    AngloSlav Education
	                </div>
				</div>
	      	</a>
	    </div>

	    <div class="collapse navbar-collapse" id="navigation-index">
	    	<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Why Angloslav<b class="caret"></b></a>
        			<ul class="dropdown-menu">
					  <li><a href="why.html">About Us</a></li>
					  <li><a href="philosophy.html">Our Philosophy</a></li>
					  <li><a href="team.html">Our Team</a></li>
					  <li class="divider"></li>
					  <li><a href="career.html">Career Guidance</a></li>
					  <li class="divider"></li>
				      <li><a href="testimonials.html">Testimonials</a></li>
        			</ul>
        		</li>
        		<li><a href="guardian.html">Guardianship</a></li>
        		<li class="dropdown">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Education<b class="caret"></b></a>
        			<ul class="dropdown-menu">
					  <li><a href="#">Preparatory School</a></li>
					  <li><a href="#">Secondary School</a></li>
					  <li><a href="#">Undergraduate Education</a></li>
					  <li><a href="#">Postgraduate Education</a></li>
					  <li class="divider"></li>
					  <li><a href="#">Private Tuition</a></li>
					  <li class="divider"></li>
				      <li><a href="#">Comparison of Education Systems</a></li>
        			</ul>
        		</li>
        		<li class="dropdown">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses<b class="caret"></b></a>
        			<ul class="dropdown-menu">
					  <li><a href="#">Oxbridge Preperation</a></li>
					  <li><a href="#">Academic Coaching</a></li>
					  <li><a href="#">Motivational Leadership Training (MLT)</a></li>
					  <li class="divider"></li>
					  <li><a href="#">UNISET | University Selective Entry Training</a></li>
					  <li class="divider"></li>
					  <li><a href="#">Music Mentorship</a></li>
        			</ul>
        		</li>
        		<li><a href="#">News and Events</a></li>
        		<li class="dropdown">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Additional Services<b class="caret"></b></a>
        			<ul class="dropdown-menu">
					  <li><a href="#">Visa Services</a></li>
					  <li><a href="#">Private Household Staff</a></li>
					  <li><a href="#">Document Translation</a></li>
					  <li class="divider"></li>
					  <li><a href="#">Exam Centre</a></li>
					  <li class="divider"></li>
        			</ul>
        		</li>
        		<li><a href="contact.html">Contact Us</a></li>
				<li>
					<a rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/pg/angloslav/posts/?ref=page_internal" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-facebook-square"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Follow us on instagram" data-placement="bottom" href="https://twitter.com/angloslav?lang=en" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Follow us on LinkedIn" data-placement="bottom" href="https://www.linkedin.com/company/9071075/" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Contact us" data-placement="bottom" href="contact.html" class="btn btn-white btn-simple btn-just-icon">
						<i class="material-icons">call</i>
					</a>
				</li>
    		</ul>
	    </div>
	</div>
</nav><!-- end navbar -->

<body class="landing-page">
	<div class="wrapper">
	        <div class="header header-filter1" style="background-image: url(assets/img/career.jpg);">
	            <div class="container">
	                <div class="row">
						<div class="col-sm-4">
							<h1 class="title">Testimonials</h1>
		                    <h4>At Angloslav excellence is more than an aspiration, it is an embodiment of our will to succeed for each of our clients and their children in every endeavour.</h4>
		                    <br />
		                    <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
								<i class="fa fa-play"></i> Watch video
							</a> -->
						</div>
	                </div>
	            </div>
	        </div>

		<div class="main main-raised">
			<div class="container">
		    	<div class="section text-center section-landing">
	                <div class="row" style="height:300px;">
	                    <div class="col-sm-4">
	                    	<div class="why-menu">
	                        <div class="menu">

								<ul>
									<li><a href="why.html">About Us</a></li>
									<li><a href="philosophy.html">Our Philosophy</a></li>
									<li><a href="news.asp">Our Team</a></li>
									<li><a href="career.html">Career Guidance</a></li>
									<li><a class="active" href="testimonials.html">Testimonials</a></li>
								</ul>
		                    </div>
		                </div>
	                    </div>

	                    <div class="col-sm-8">
	                    	<br>
	                        <h2 class="title">Our Testimonials</h2>
	                        <p style="text-align:justify;">We take endless pride in helping our students attain the heights to which their yearnings and passions call. With each of our students and their parents we forge a bond that only grows in strength from the moment they join us, one which continues to endure long after we have helped give life to their dreams. Our devotion to each child and their families can be witnessed in the words that have kindly been written to us by our clients, past and present.</p>
	                    </div>
	            	</div>
	        	</div>
	        	<div class = "row">
	        		<div class = "col-sm-5">
	        			<center><h3><i>Parent Testimonials</i></h3></center>
	        			<div class="cd-testimonials-wrapper cd-container">
							<ul class="cd-testimonials">
								<li>
									<p>The most difficult thing parents face when sending their children to study in Great Britain is in choosing the ideal school. Whilst it is important not only to choose a school with an excellent academic and extra-curricular record, the ... </p>
									<div class="cd-author">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/leicame.jpg" alt="Author image">
										<ul class="cd-author-info">
											<li>Olga and Dmitrij</li>
										</ul>
									</div>
								</li>

								<li>
									<p>AngloSlav has been there to support my son throughout his education from the moment he began his GCSE’s right the way through to his graduation from University. They have always given us every possible help and advice and ...</p>
									<div class="cd-author">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-2.jpg" alt="Author image">
										<ul class="cd-author-info">
											<li>Nikolai</li>
										</ul>
									</div>
								</li>

								<li>
									<p>I would like to express my gratitude to Inga and the entire AngloSlav team. Thank you for your unique and devoted approach to each child, because as we all know, just as every child is unique, so can the journey on which we go ... </p>
									<div class="cd-author">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-3.jpg" alt="Author image">
										<ul class="cd-author-info">
											<li>Tatiana</li>
										</ul>
									</div>
								</li>
		
							</ul> <!-- cd-testimonials -->

								<a href="#0" class="cd-see-all">See all</a>
						</div> <!-- cd-testimonials-wrapper -->
						<!-- ALL PARENT TESTIMONIALS -->
						<div class="cd-testimonials-all">
							<div class="cd-testimonials-all-wrapper">
								<ul>
									<li class="cd-testimonials-item">
										<p>I would like to express my gratitude to Inga and the entire AngloSlav team. Thank you for your unique and devoted approach to each child, because as we all know, just as every child is unique, so can the journey on which we go together sometimes be very emotional. Inga helped our daughter Ksenia to find a focus and direction that she did not possess before, unlocking her passions that had yet to be discovered. Ksenia had many difficulties, worries and misconceptions regarding the requirements of the British education system before she arrived, yet Inga and her team helped her to overcome all problems and achieve such high results of which we never thought possible. 
										Having entrusted them with my most valuable possession, I am very grateful to AngloSlav for all of their work with Ksenia as they did not let me down. Under Inga’s guidance, I personally had the joy to see the wonderful changes that the team at AngloSlav are able to instil in the children that are placed in their care. For all three years of Ksenia’s education, Inga guided us as a friend, mother and mentor. Thank you very much for all you have done for my child. I would also like to earnestly say thank you to Denis, who supported me during the difficult moments I endured when Ksenia was taken to hospital because of her condition. I wish you all the same great victories and successes that you have enabled for my child.</p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-1.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>Tatiana</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

									<li class="cd-testimonials-item">
										<p>AngloSlav has been there to support my son throughout his education from the moment he began his GCSE’s right the way through to his graduation from University. They have always given us every possible help and advice and done everything possible to ensure that our son has had a wonderful educational experience for which he, my wife and I, are endlessly grateful.</p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-2.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>Nikolai</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

									<li class="cd-testimonials-item">
										<p>The most difficult thing parents face when sending their children to study in Great Britain is in choosing the ideal school. Whilst it is important not only to choose a school with an excellent academic and extra-curricular record, the school must also be wholly suited to one’s child, a place that will help to develop their interests and talents. At every step, AngloSlav has helped our family with such professionalism and made the entire experience one of enjoyment for both ourselves and, most importantly, our daughter. Through their efforts, AngloSlav helped to secure for her a place in one of the United Kingdom’s best independent schools. We earnestly wish to express here our sincere gratitude to the whole team at AngloSlav for their priceless help, delicate advice and constant support in all aspects of our daughter’s education.</p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-3.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>Olga and Dmitrij</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

									<li class="cd-testimonials-item">
										<p>Wankers!</p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-4.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>MyName</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

									<li class="cd-testimonials-item">
										<p>Wankers!!</p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-5.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>MyName</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

									<li class="cd-testimonials-item">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quia quas, quis illo adipisci voluptate ex harum iste commodi nulla dolor. Eius ratione quod ab!</p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-6.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>MyName</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

								</ul>
							</div>	<!-- cd-testimonials-all-wrapper -->

							<a href="#0" class="close-btn">Close</a>
						</div> <!-- cd-testimonials-all -->
	        		</div>
	        		<div class = "col-sm-2">
	        			<div class = "trophy">
	        			<center>
							<!-- <i class="icon-trophy"></i> -->
	        				<img src="/assets/img/trophy.png" alt="Mountain View">

	        			</center>
	        		</div>
	        		</div>

	        		<div class = "col-sm-5">
	        			<center><h3><i>Student Testimonials<i></h3></center>
	        			<div class="cd-testimonials-wrapper-2 cd-container">
							<ul class="cd-testimonials-2">
								<li>
									<p>Thank you so much for your amazing help and support! Your efforts have been such a comfort to me throughout all the years of my studies here in Britain and I cannot thank you all enough!</p>
									<div class="cd-author">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/leicame.jpg" alt="Author image">
										<ul class="cd-author-info">
											<li>Albina</li>
										</ul>
									</div>
								</li>

								<li>
									<p>I am amazed by the help and kindness that Inga and her team at AngloSlav have shown me. I feel so fortunate to have had them looking after me throughout my school life in England, the experience of which exceeded even my greatest ... </p>
									<div class="cd-author">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-2.jpg" alt="Author image">
										<ul class="cd-author-info">
											<li>Anastasia</li>
										</ul>
									</div>
								</li>

								<li>
									<p>I have been with AngloSlav ever since I arrived in the United Kingdom in 2010. To say that it cemented my degree, career and future here is an understatement. I have always received the highest level of service, attention and help...</p>
									<div class="cd-author">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-3.jpg" alt="Author image">
										<ul class="cd-author-info">
											<li>Alexandra</li>
										</ul>
									</div>
								</li>
		
							</ul> <!-- cd-testimonials -->

								<a href="#1" class="cd-see-all-2">See all</a>
						</div> <!-- cd-testimonials-wrapper -->
						<!-- ALL KIDS TESTIMONIALS -->
						<div class="cd-testimonials-all-2">
							<div class="cd-testimonials-all-wrapper-2">
								<ul>
									<li class="cd-testimonials-item">
										<p>Thank you so much for your amazing help and support! Your efforts have been such a comfort to me throughout all the years of my studies here in Britain and I cannot thank you all enough!</p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-1.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>Albina</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

									<li class="cd-testimonials-item">
										<p>I am amazed by the help and kindness that Inga and her team at AngloSlav have shown me. I feel so fortunate to have had them looking after me throughout my school life in England, the experience of which exceeded even my greatest expectations! </p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-2.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>Anastasia</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

									<li class="cd-testimonials-item">
										<p>I have been with AngloSlav ever since I arrived in the United Kingdom in 2010. To say that it cemented my degree, career and future here is an understatement. I have always received the highest level of service, attention and help. Not only did they secure my place in such universities as King’s College London and UCL, they always went the extra mile to ensure that every single one of my needs were fulfilled. I could not be more grateful to AngloSlav!</p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-3.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>Alexandra</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

									<li class="cd-testimonials-item">
										<p>AngloSlav has helped me for over five years now and from my first moments with them, they have always been by my side. Their dedication and willingness to help me achieve my academic and professional dreams has been outstanding and I cannot recommend them enough. </p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-4.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>Peter</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

									<li class="cd-testimonials-item">
										<p>Wankers</p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-5.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>MyName</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

									<li class="cd-testimonials-item">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quia quas, quis illo adipisci voluptate ex harum iste commodi nulla dolor. Eius ratione quod ab!</p>
										
										<div class="cd-author">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/avatar-6.jpg" alt="Author image">
											<ul class="cd-author-info">
												<li>MyName</li>
											</ul>
										</div> <!-- cd-author -->
									</li>

								</ul>
							</div>	<!-- cd-testimonials-all-wrapper -->

							<a href="#1" class="close-btn">Close</a>
						</div> <!-- cd-testimonials-all -->
	        		</div>
	        	</div>
	        </div>
	    </div>
	</div>
</body>
<footer class="flex-rw">
  
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">ABOUT ANGLOSLAV</h4></li>
    <li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor" itemprop="significantLink">OUR PHILOSOPHY</a></li>
    <li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">OUR TEAM</a></li>
    <li><a href='/retailers/new-retailers.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">CAREER GUIDANCE</a></li>

    <li><a href='/job-openings.html' itemprop="significantLink" class="generic-anchor footer-list-anchor">TESTIMONIALS</a></li>

    
  </ul>
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">EDUCATION</h4></li>


    <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">PRIMARY EDUCATION</a></li>
    <li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">SECONDARY EDUCATION</a></li>
    <li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor">UNDERGRADUATE EDUCATION</a></li>
    <li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor">POSTGRADUATE EDUCATION</a></li>
    <li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor">COURSES</a></li>
    <!-- <li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor" target="_blank">HANDBAGS & JEWELRY</a></li> -->
  </ul>
  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header">GETTING IN TOUCH</h4></li>
    <li><a href='/shop/about-contact' class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACT AND ENQUIRES</a></li>
    <li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">NEWS & EVENTS</a></li>
    <li><a href='/shop/about-contact' class="generic-anchor footer-list-anchor" itemprop="significantLink">SHOP</a></li>
  
  </ul>
  <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
      CONNECT <span class="footer-social-small">with</span> US
      </span>
      <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
      <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
      <a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-linkedin"></i></a>
      </span>
  </section>
  <section class="footer-bottom-section flex-rw">
<div class="footer-bottom-wrapper">   
<i class="fa fa-copyright" role="copyright">
 
</i> 2017 Angloslav Education <address class="footer-address" role="company address">London, UK</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
    </div>
    <div class="footer-bottom-wrapper">
    <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> | <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
      </div>
  </section>
</footer>

</body>

	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/masonry.pkgd.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3393/jquery.flexslider-min.js"></script>
	<script src="assets/js/jquery-testimonials.js" type="text/javascript"></script>
	<script src="assets/js/jquery-testimonials-2.js" type="text/javascript"></script>
	<!--   Core JS Files   -->
	<script src="assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="assets/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="assets/js/material-kit.js" type="text/javascript"></script>

</html>
